<%= form_for [:admin, @page_template] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @page_template,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest'  -%>
  </div>
  
  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_field :description  -%>
  </div>
  
  <div class='field'>
    <%= f.label :path -%>
    <%= f.text_field :path  -%>
  </div>

  <div class='field'>
    <%= f.label :layout -%>
    <%= f.text_field :layout  -%>
  </div>

  <div class='field'>
    <%= f.label :page_parts -%>
    <%= f.text_field :page_parts  -%>
  </div>  
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.page_templates.page_template'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @page_template.name)
              } %>
<% end -%>
