%div
  .header
    %h2.title
      = page_template.path
  .detail
    %p
      %strong Nombre:
      = page_template.name
    %p
      %strong Descripci칩n:
      = page_template.description

    - unless page_template.layout.nil?
      %p
        %strong Layout:
        = page_template.layout

    - unless page_template.page_parts.nil?
      %p
        %strong Parts:
        %dl
          - page_template.page_parts.each do |part|
            %dt= part['title']
            %dd 
              - part.reject{ |k,v| k == "title" }.each do |k, v|
                %strong= "#{k}: "
                = v
                %br
    %p
      %strong Asignada manualmente a:
      - if page_template.manually_assigned_pages.empty?
        Ninguna p치gina
      - page_template.manually_assigned_pages.each do |page|
        = link_to page.title, edit_admin_page_path(page)
      %strong Asignada autom치ticamente a:
      - if page_template.auto_assigned_pages.empty?
        Ninguna p치gina
      - page_template.auto_assigned_pages.each do |page|
        = link_to page.title, edit_admin_page_path(page)        
